*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(175, 124, 47);
    text-align: center;
}
.container{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 450px;
    width: 450px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.box{
    height: 30%;
    width: 30%;
    border-radius: 10%;
    font-size: 40px;
    background-color: antiquewhite;
    color: black;
    border: none;
    
}
.reset-btn{
    padding: 1.5rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(22, 14, 14);
    color: white;
}
.new-btn{
    padding: 1rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(22, 14, 14);
    color: white;
}
.msg{
    color: aliceblue;
    font-size: 2rem;
}
.hide{
    display: none;
}